{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <h1>Entretien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ calendar.start ? calendar.start|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendar.end ? calendar.end|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info">
    <a href="{{ path('calendar_index') }}">Retour à la liste</a>
    </button>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>
    </button>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
