{% extends 'base.html.twig' %}

{% block title %}Créer son Compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <link href="style/register.css" rel="stylesheet" >


<h1 class="titre">Création de Compte</h1>
    <br>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Prénom : '
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom : '
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Adresse mail'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.dateDeNaissance, {
            label: 'Date de Naissance : '
        }) }}
        {{ form_row(registrationForm.telephone, {
            label: 'Numéro de Téléphone'
        }) }}
        {{ form_row(registrationForm.numeroPE, {
            label: 'Identifiant Pôle-Emploi : '
        }) }}
        {{ form_row(registrationForm.commentaire, {
            label: 'Commentaires : '
        }) }}
        <br>
        {{ form_row(registrationForm.agreeTerms) }}
        <br>
        <div class="boutonJaune">
        <button type="submit" class="btn btn-warning">Créer mon compte</button>
    {{ form_end(registrationForm) }}
        </div>

    
{% endblock %}
