{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Enoncé</th>
                <th>EstEliminatoire</th>
                <th>EstActif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.position }}</td>
                <td>{{ question.enonce }}</td>
                <td>{{ question.estEliminatoire ? 'Oui' : 'Non' }}</td>
                <td>{{ question.estActif ? 'Oui' : 'Non' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('question_show', {'id': question.id}) }}">détails</a>
                    </button>
                    <button type="button" class="btn btn-info">
                    <a href="{{ path('question_edit', {'id': question.id}) }}">éditer</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="boutonJaune">
    <button type="submit" class="btn btn-warning">
    <a href="{{ path('question_new') }}">Créer une nouvelle Question</a>
    </button>
    </div>
{% endblock %}
