{% extends 'base.html.twig' %}

{% block title %}Edit TestTechnique{% endblock %}

{% block body %}
    <h1>Modification du Test Technique</h1>
    <br>

    <h5>Voici la liste des questions composant ce Test Technique:</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Intitulé</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            {% if question.testTechnique %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.enonce }}</td>            
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Ce Test ne contient encore aucune Question</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    {{ include('test_technique/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('test_technique_index') }}">Retour à la liste</a>
    </button>

    {{ include('test_technique/_delete_form.html.twig') }}
{% endblock %}
