{% extends 'base.html.twig' %}

{% block title %}TestTechnique index{% endblock %}

{% block body %}
    <h1>Tests Techniques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitulé du Test Technique</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_technique in test_techniques %}
            <tr>
                <td>{{ test_technique.id }}</td>
                <td>{{ test_technique.intitule }}</td>
                <td>{{ test_technique.date|date("m/d/Y") }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('test_technique_show', {'id': test_technique.id}) }}">Détails</a>
                    </button>

                    <button type="button" class="btn btn-info">
                    <a href="{{ path('test_technique_edit', {'id': test_technique.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas de Résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('test_technique_new') }}">Créer un Test Technique</a>
    </button>
{% endblock %}
