<nav class="navbar navbar-expand-lg navbar-light bg-light">

<link href="style/style.css" rel="stylesheet" >

	<div class="collapse navbar-collapse" id="navbarColor03">
		<a href="{{ path('homepage') }}" style="width:33%;"><img src="../img/logo.png" alt="logo_human_booster"/></a>
		<ul
			class="navbar-nav mx-auto" style="width:33%;">

			{# ...  Connexion / Inscription  #}
			{% if not app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
				</li>
			{% endif %}

			{% if not app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Se Connecter !</a>
				</li>
			{% endif %}

			{% if app.user %}
				<li class="nav-item">
					<h6 class="nav-link">Bienvenue<br>             
						{{ app.user.firstname }}          
						{{ app.user.lastname }}</h6>
				</li>
			{% endif %}

			
			{% if app.user %}      
				<li class="nav-item">
					<a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
				</li>
			{% endif %}

			{# ...  Pages PROFIL  #}

			{% if (is_granted('ROLE_ADMIN') and (app.user)) %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_profile_admin') }}">Mon Profil ( en mode administrateur)</a>
				</li>
				{% elseif (is_granted('ROLE_CHEFPROJET') and (app.user)) %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_profile_chefProjet') }}">Mon Profil (en mode Chef de Projet)</a>
				</li>
				{% elseif app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_profile') }}">Mon Profil</a>
				</li>
			{% endif %}

			
			
			{# ...  Menu déroulant - Administrateur  #}
			{% if (is_granted('ROLE_ADMIN') and (app.user)) %}
				<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion</a>
        			<div class="dropdown-menu">
          			<a class="dropdown-item" href="{{ path('test_technique_index') }}">Tests Techniques</a>
          			<a class="dropdown-item" href="{{ path('domaine_index') }}">Index des Domaines</a>
          			<a class="dropdown-item" href="{{ path('question_index') }}">Liste des Questions</a>
					  <a class="dropdown-item" href="{{ path('niveau_index') }}">Index des Niveaux</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="{{ path('info_co_index') }}">Réunions d'informations</a>
        			</div>
     			</li>
			{# ...  Menu déroulant - Chef de Projet !  #}
			{% elseif (is_granted('ROLE_CHEFPROJET') and (app.user)) %}
				<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion</a>
        			<div class="dropdown-menu">
          			<a class="dropdown-item" href="{{ path('user_index') }}">Liste des Candidats</a>
          			<a class="dropdown-item" href="{{ path('session_index') }}">Index des Sessions</a>
          			<a class="dropdown-item" href="{{ path('info_co_index') }}">Réunions d'informations</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="{{ path('agenda_index') }}">Planning des Entretiens</a>
        			</div>
     			</li>
			{# ...  Menu déroulant - standard User  #}
			{% elseif (is_granted('ROLE_USER') and (app.user)) %}
				<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plus</a>
        			<div class="dropdown-menu">
          			<a class="dropdown-item" href="{{ path('info_co_index') }}">Réunions d'informations</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('domaine_index') }}">Passer le Test</a>
          			<div class="dropdown-divider"></div>
          			<a class="dropdown-item" href="{{ path('user_results', {'id': app.user.id}) }}">Voir les Résultats</a>
        			</div> 
     			</li>
			{% endif %}

								{# ...  Contact  #}	

			{% if (is_granted('ROLE_USER') or (not app.user)) %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact') }}">Contact</a>
				</li>
			{% endif %}

								{# ...  Déconnexion  #}	

			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Se Déconnecter</a>
				</li>
			{% endif %}

		</ul>
		<form class="form-inline my-2 my-lg-0 d-flex justify-content-end" style="width:33%;">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
		</form>
	</div>
</nav>
