{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1><br>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Numéro</th>
                <th>Lieu</th>
                <th>Formation concernée</th>
                <th>Date de début</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.villeSession }}</td>
                <td>{{ session.formation }}</td>
                <td>{{ session.date ? session.date|date('d-m-Y') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('session_show', {'id': session.id}) }}">Détails</a>
                    </button>

                    <button type="button" class="btn btn-info">
                    <a href="{{ path('session_edit', {'id': session.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('session_new') }}">Créer une nouvelle Session</a>
    </button>
{% endblock %}
