{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ session.numero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ session.date }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info">
    <a href="{{ path('session_index') }}">retour à la liste</a>
    </button>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('session_edit', {'id': session.id}) }}">modifier</a>
    </button>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
