{% extends 'base.html.twig' %}

{% block title %}InfoCo index{% endblock %}

{% block body %}
    <h1>InfoCo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info_co in info_cos %}
            <tr>
                <td>{{ info_co.id }}</td>
                <td>{{ info_co.date ? info_co.date|date('d-m-Y') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('info_co_show', {'id': info_co.id}) }}">Détails</a>
                    </button>

                    <button type="button" class="btn btn-info">
                    <a href="{{ path('info_co_edit', {'id': info_co.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('info_co_new') }}">Créer nouvelle InfoCo</a>
    </button>
{% endblock %}
