{% extends 'base.html.twig' %}

{% block title %}InfoCo{% endblock %}

{% block body %}
    <h1>Réunion d'Information N° {{ info_co.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Numéro de la Session</th>
            </tr>
            <tr>
                <td>{{ info_co.id }}</td>
                <td>{{ info_co.date ? info_co.date|date('d-m-Y') : '' }}</td>
                <td>{{ info_co.adresse }}</td>
                <td>{{ info_co.session }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info">
    <a href="{{ path('info_co_index') }}">retour à la liste</a>
    </button>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('info_co_edit', {'id': info_co.id}) }}">Modifier</a>
    </button>

    {{ include('info_co/_delete_form.html.twig') }}
{% endblock %}
