{% extends 'base.html.twig' %}

{% block title %}InfoCo{% endblock %}

{% block body %}
    <h1>InfoCo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_co.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ info_co.date ? info_co.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('info_co_index') }}">back to list</a>

    <a href="{{ path('info_co_edit', {'id': info_co.id}) }}">edit</a>

    {{ include('info_co/_delete_form.html.twig') }}
{% endblock %}
