{% extends 'base.html.twig' %}

{% block title %}InfoCo{% endblock %}

{% block body %}
    <h1>Réunion d'Information du {{ info_co.date ? info_co.date|date('d-m-Y') : '' }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Formation concernée</th>
                <th>Numéro de la Session</th>
            </tr>
            <tr>
                <td>{{ info_co.id }}</td>
                <td>{{ info_co.date ? info_co.date|date('d-m-Y') : '' }}</td>
                <td>{{ info_co.adresse }}</td>
                <td>{{ info_co.session.formation }}</td>
                <td>{{ info_co.session.id }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info">
    <a href="{{ path('info_co_index') }}">retour à la liste</a>
    </button>

    {% if (is_granted('ROLE_CHEFPROJET') and (app.user)) %}
    <button type="button" class="btn btn-warning">
    <a href="{{ path('info_co_edit', {'id': info_co.id}) }}">Modifier</a>
    </button>
    {% endif %}

    {% if (is_granted('ROLE_CHEFPROJET') and (app.user)) %}
    {{ include('info_co/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
