{% extends 'base.html.twig' %}

{% block title %}Niveau index{% endblock %}

{% block body %}
    <h1>Niveau index</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Intitulé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr>
                <td>{{ niveau.id }}</td>
                <td>{{ niveau.intitule }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('niveau_show', {'id': niveau.id}) }}">Détails</a>
                    </button>

                    <button type="button" class="btn btn-info">
                    <a href="{{ path('niveau_edit', {'id': niveau.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('niveau_new') }}">Créer un nouveau Niveau</a>
    </button>
{% endblock %}
