{% extends 'base.html.twig' %}

{% block title %}Niveau{% endblock %}

{% block body %}
    <h1>Niveau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ niveau.id }}</td>
            </tr>
            <tr>
                <th>Intitulé</th>
                <td>{{ niveau.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info">
    <a href="{{ path('niveau_index') }}">retour à la liste</a>
    </button>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('niveau_edit', {'id': niveau.id}) }}">Modifier</a>
    </button>

    {{ include('niveau/_delete_form.html.twig') }}
{% endblock %}
