{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>MODE ADMINISTRATEUR</h1><br>
    <h1>Profil de {{ app.user.firstname }}</h1>
    <div class="row">
            <div class="col-4 mb-1">
                <img src="../img/admin.png">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.user.firstname }}  {{ app.user.lastname }}</h5>
                        <p class="card-text">Mon adresse mail: {{ app.user.email }}</p>
                        <p class="card-text">Mon numéro de Téléphone: {{ app.user.telephone }}</p>
                    </div>
                </div>
            </div>
    </div>
    <div>
    <button type="button" class="btn btn-warning">
    <a class="nav-link" href="{{ path('user_editer_son_profil_admin', {id: app.user.id}) }}">Modifier mon Profil</a>
    </button>
    </div>
{% endblock %}