{% extends 'base.html.twig' %}

{% block title %}Domaine index{% endblock %}

{% block body %}
    <h1>Liste des Domaines</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Intitulé</th>
                <th>Position</th>
                <th>Ratio Minimum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.id }}</td>
                <td>{{ domaine.intitule }}</td>
                <td>{{ domaine.position }}</td>
                <td>{{ domaine.ratioMinimum }}</td>
                <td>
                    <button type="button" class="btn btn-secondary">
                    <a href="{{ path('domaine_show', {'id': domaine.id}) }}">Détails</a>
                    </button>
                    <button type="button" class="btn btn-info">
                    <a href="{{ path('domaine_edit', {'id': domaine.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de Résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning">
    <a href="{{ path('domaine_new') }}">Créer un nouveau Domaine</a>
    </button>
{% endblock %}
